body{
    background:url(../images/prison-jail-cell.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* header style contains the game title */
.gameTitle{
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5em;
    width:100%;
    margin:35px 0px 15px;
    text-align:center;
    font-size:46px;
    background:rgba(255,255,255,0.2);
    text-shadow:0px 0px 8px #fff;
    -moz-box-shadow: 0px 0px 15px rgba(255, 255, 255,0.3);
    -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255,0.3);
    box-shadow: 0px 0px 15px rgba(255, 255, 255,0.3);
}

.gameSubtitle{
    font-family:'Montserrat','Helvetica Neue', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size:28px;
    padding:0px;
    margin:0px;
    letter-spacing: 1em;
    text-shadow:0px 0px 8px #fff;
}

/* main game styles */
.mainGameContainer{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin:35px 0px;
}
#characterContainer{
    width:90%;
    margin:0px auto;
    display:flex;
    justify-content: space-around;
    
}
#charactersLeft{
    width:90%;
    margin:0px auto;
    display:flex;
    justify-content: space-around;
    text-align:center;
}
.character{
    width:230px;
    background:#000;
    color:#fff;
    margin:0px 15px;
    padding:0px 15px;
}
#characterContainer .character:hover{
    background:#7c4200;
    cursor:pointer;
}
.character h4{
    padding:5px 0px;
    margin:0px;
    text-align:center;
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    text-transform:uppercase;
}
.character-image{
    width:100%;
}
.theChosenOnes{
    width:100%;
    display:flex;
    justify-content: center;
    margin:35px auto;
}
.selected{
    width:450px;
}
#versus{
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    font-size:46px;
    text-align:center;
}
button:focus{
    outline:0;
}
#attackBtn{
    width:175px;
    height:55px;
    font-size:23px;
    border:none;
    border-radius:0px;
    margin:0px auto;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    background:#000;
    color:#fff;
    transition: background-color 0.5s linear;
}
#attackBtn:hover{
    background:#888;
    color:#000;
}
#attackBtn:active{
    background:#a11717;
}
/* win and lose screen styles */
.hide{
    display:none!important;
}
.show{
    display:block;
}
.chosenWinner {
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.chosenWinner .character{
    width:330px;
    margin:25px auto;
    clear:both;
}
.winnerText{
    width:100%;
}
.chosenWinner h1{
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    color:#fff;
    font-size:52px;
    letter-spacing: 0.2em;
}
.chosenLoser {
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.chosenLoser .character{
    width:330px;
    margin:25px auto;
    clear:both;
}
.loserText{
    width:100%;
}
.chosenLoser h1{
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    color:#701010;
    font-size:52px;
    letter-spacing: 0.2em;
    text-shadow:0px 0px 8px #fff;
}
#winnerPlayAgain{
    width:225px;
    height:55px;
    font-size:16px;
    border:none;
    border-radius:0px;
    margin:0px auto;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    background:#000;
    color:#fff;
    transition: background-color 0.5s linear;
}
#winnerPlayAgain:hover{
    background:#888;
    color:#000;
}
#winnerPlayAgain:active{
    background:#a11717;
}
#loserPlayAgain{
    width:225px;
    height:55px;
    font-size:16px;
    border:none;
    border-radius:0px;
    margin:0px auto;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    font-family:'Alfa Slab One', Arial, Helvetica, sans-serif;
    background:#000;
    color:#fff;
    transition: background-color 0.5s linear;
}
#loserPlayAgain:hover{
    background:#888;
    color:#000;
}
#loserPlayAgain:active{
    background:#a11717;
}